<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/67f58695eb.js" crossorigin="anonymous"></script>
</head>

<body
 style="background-image: url('https://a-static.besthdwallpaper.com/oled-google-logo-wallpaper-2560x1440-55388_51.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: fixed;">

    <div class="container" style="margin-top: 10%;">
        <div class="card mx-auto" style="background-color: rgba(255, 255, 255, 0.623); width: 70%; border-radius: 50px;">
            <div class="card-header text-center">
                <h5 style="font-size: 30px; font-family: 'Times New Roman', Times, serif; font-weight: bold; font-style: italic; color: #1d6eb9;">Google Profile Info</h5>
            </div>
            <div class="card-body text-center">
                <h3>
                    <%= user.displayName %>
                </h3>
                <p>
                Display Name: <%= user.displayName %><br>
                Email: <%= user.emails[0].value %><br>
                Language: <%= user.language %><br>
                Verified: <%= user.verified ? 'Yes' : 'No' %><br>
                Email Verified: <%= user.email_verified ? 'Yes' : 'No' %><br>
                Profile Picture: <%= user.picture %><br>
                ID: <%= user.id %></p>
                <a href="/logout" class="btn btn-danger" style="font-size: 18px; background-color: #df342e; border-color: #df342e; border-radius: 50px; margin-top: 20px;">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </div>

</body>

</html>

<!--
    Author: google.com/fastuptime
-->